html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: "font-icon-family"; /* Project id 4459365 */
  src: url('../font/iconfont.woff2?t=1709957377934') format('woff2'),
       url('../font/iconfont.woff?t=1709957377934') format('woff');
}

.font-icon-family {
  font-family: "font-icon-family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e600";
}

.icon-share:before {
  content: "\f064";
}

.icon-github:before {
  content: "\ea91";
}

.icon-douban:before {
  content: "\e60e";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-stack-overflow:before {
  content: "\e689";
}

.icon-zhihu:before {
  content: "\e641";
}

.icon-rss:before {
  content: "\e883";
}

.icon-weixin:before {
  content: "\f132";
}

.icon-left:before {
  content: "\f053";
}

.icon-right:before {
  content: "\f054";
}

.icon-jike:before {
  content: "\e62d";
}

.icon-category:before {
  content: "\f07b";
}

.icon-menu:before {
  content: "\f0c9";
}


/* Public style */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  background: #e0e8f6;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 100%;
  color: #817c7c;
  line-height: 1.8;
  letter-spacing: 0.2px;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
iframe {
  margin-top: 10px;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
  padding-left: 0.3em;
}
sub {
  bottom: -0.25em;
}
a {
  text-decoration: none;
  color: #817c7c;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}
a:hover:before {
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}
input:focus {
  outline: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
::-webkit-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-moz-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
:-ms-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-webkit-input-placeholder::before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
::-moz-placeholder:before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
:-ms-input-placeholder::before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-search-cancel-button:after {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00d';
  color: #fff;
  padding-right: 4px;
}
/* css3 animate */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
body header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 3px rgba(3,3,3,0.2);
  box-shadow: 1px 2px 3px rgba(3,3,3,0.2);
  background: #000;
  color: #fff;
  padding: 1em 0 0.8em;
}
@media only screen and (min-width: 1024px) {
  body header {
    padding: 1.8em 0 1.5em;
  }
}
body header .header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0 3.5%;
  max-width: 1200px;
  overflow: hidden;
}
body header .logo-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body header a {
  display: block;
  color: #fff;
}
#imglogo {
  margin-left: -0.3em;
}
@media only screen and (min-width: 1024px) {
  #imglogo {
    margin-left: -0.5em;
  }
}
#imglogo img {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 4em;
}
@media only screen and (min-width: 768px) {
  #imglogo img {
    width: 5em;
  }
}
@media only screen and (min-width: 1024px) {
  #imglogo img {
    width: 5.5em;
  }
}
#textlogo h1.site-name {
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 160%;
  line-height: 1.8;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  #textlogo h1.site-name {
    font-size: 240%;
  }
}
@media only screen and (min-width: 1024px) {
  #textlogo h1.site-name {
    font-size: 280%;
  }
}
@media only screen and (min-width: 768px) {
  #textlogo h1.site-name {
    font-size: 190%;
  }
}
@media only screen and (min-width: 1024px) {
  #textlogo h1.site-name {
    font-size: 220%;
  }
}
#textlogo h2.blog-motto {
  font-size: 0.7em;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  #textlogo h2.blog-motto {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #textlogo h2.blog-motto {
    font-size: 110%;
  }
}
.navbar {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  margin-top: -3.5em;
  padding: 0.5em;
}
@media only screen and (min-width: 1024px) {
  .navbar {
    display: none;
  }
}
.navbutton::before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c9";
}
.navmobile::before {
  padding-left: 1em;
}
header nav {
  margin-top: 0.5em;
  font-size: 112.5%;
  padding-top: 0.5em;
  max-height: 0.01em;
  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -ms-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
@media only screen and (min-width: 1024px) {
  header nav {
    margin-top: 1em;
    max-height: none;
  }
}
header nav .nav-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  header nav .nav-list {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
header nav ul li a {
  padding: 0.2em 1.2em 0.2em 0;
}
@media only screen and (min-width: 1024px) {
  header nav ul li a {
    padding: 0.2em 1.2em 0.2em 0;
  }
}
header nav ul li a:hover {
  color: #ff4040;
}
.shownav {
  max-height: 10em;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}
.search {
  padding: 0.2em 0.2em 0.2em 0;
}
.search input {
  -webkit-appearance: textfield;
  font-size: 0.87em;
  line-height: 2;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  background: transparent;
  width: 50%;
  padding-left: 0.5em;
}
@media only screen and (min-width: 1024px) {
  .search input {
    width: 8em;
    -webkit-transition: 0.5s width;
    -moz-transition: 0.5s width;
    -o-transition: 0.5s width;
    -ms-transition: 0.5s width;
    transition: 0.5s width;
  }
  .search input:focus {
    width: 15em;
  }
}
.search label {
  display: none;
}
/* index layout */
#container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  #container {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1200px;
  }
}
#main {
  margin: 1em 0 0;
  line-height: 2.1;
}
@media only screen and (min-width: 1024px) {
  #main {
    margin: 2em 0 0;
    width: 75%;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
  }
}
#main section.post {
  background: #fff;
  margin-bottom: 0.5px;
}
#main section.post a {
  display: block;
  border-left: 0.1em solid #fff;
  -webkit-transition: border-left 0.45s;
  -moz-transition: border-left 0.45s;
  -o-transition: border-left 0.45s;
  -ms-transition: border-left 0.45s;
  transition: border-left 0.45s;
  padding: 0.8em;
}
@media only screen and (min-width: 768px) {
  #main section.post a {
    padding: 1em;
  }
}
#main section.post a:hover {
  border-left: 0.1em solid #000;
}
#main section.post a h1 {
  color: #413f3f;
  line-height: 2.3;
}
#main section.post a p {
  color: #817c7c;
}
#main section.post a time {
  color: #817c7c;
  display: block;
  margin: 0.5em 0;
  font-size: 0.9em;
}
#archive-page section.post {
  width: 100%;
}
#archive-page section.post a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 0.9em;
  padding: 0.5em !important;
}
#archive-page section.post h1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.2em;
}
#archive-page section.post time {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  padding: 0 0.5em;
  font-size: 1em !important;
}
.moveMain {
  margin-left: 10% !important;
}
#page-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  padding: 1em 0;
}
#page-nav a {
  display: inline-block;
  padding: 0.5em 1em;
}
#page-nav a {
  color: #002fa7;
}
#page-nav .prev span:before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f053";
  padding-right: 0.5em;
}
#page-nav .next span:after {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  padding-left: 0.5em;
}
#page-nav .page-number {
  display: inline-block;
  padding: 0.5em 1em;
}
#page-nav .current {
  color: #000;
  font-weight: bold;
}
#page-nav .space {
  color: #002fa7;
}
/* page layout */
@media only screen and (min-width: 1024px) {
  .page {
    margin-left: 10% !important;
  }
}
/* archive layout */
.category-icon:before,
.tag-icon:before,
.archive-icon:before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  font-size: 100%;
  padding-right: 0.3em;
}
.category-icon:before {
  content: "\f07b";
}
.tag-icon:before {
  content: "#";
  font-size: 1em;
}
.archiveslist-view {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 2em 0 auto 0;
  padding: 0.5em;
  background: #fff;
}
.archiveslist-view .archive-title {
  padding: 0 0.5em;
}
.archiveslist-view .archive-title h2 {
  color: #413f3f;
  font-size: 120%;
}
.archiveslist-view .archive-title a {
  color: #002fa7;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.archiveslist-view .archive-title a:hover {
  color: #000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.archiveslist-view .archive-list {
  padding: 0.5em;
}
.archiveslist-view .archive-list li {
  font-size: 0.8em;
  line-height: 2em;
}
.archiveslist-view .archive-list li a:hover {
  color: #000;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.archiveslist-view .archive-list .archive-list-count {
  padding: 0.5em;
}
.archiveslist-view .archive-list .archive-list-count:before {
  content: "(";
}
.archiveslist-view .archive-list .archive-list-count:after {
  content: ")";
}
@media only screen and (min-width: 768px) {
  .archive-part {
    min-height: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .archive-part {
    margin-left: 2% !important;
  }
}
/* tags&categories layout */
.all-list-box {
  min-height: 400px;
}
.post,
.page,
.link,
.photo {
  background: #fff;
}
.post a,
.page a,
.link a,
.photo a {
  color: #002fa7;
}
.post a:hover,
.page a:hover,
.link a:hover,
.photo a:hover {
  color: #ea6753;
}
article .article-header h1 {
  padding: 0.2em 4%;
  font-size: 170%;
  line-height: 1.8;
  word-wrap: break-word;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #413f3f;
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  article .article-header h1 {
    font-size: 200%;
    padding-top: 0.3em;
  }
}
article .article-header div.article-info-meta {
  padding: 0.3em 4%;
}
article .article-header p.article-author {
  display: inline-block;
  text-align: left;
}
article .article-header p.article-time {
  display: inline-block;
  font-size: 0.9em;
  text-align: center;
}
article .article-content {
  padding: 0.5em 4% 1.5em 4%;
  color: #413f3f;
  font-size: 100%;
}
article .article-content .kb {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  background-color: code-color;
  color: #8f8f8f;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.8;
  white-space: nowrap;
}
article .article-content h1,
article .article-content h2 {
  font-size: 180%;
  line-height: 1.2em;
  padding-bottom: 0.2em;
  margin-top: 1.4em;
  font-weight: 500;
}
article .article-content h3 {
  font-size: 140%;
  font-weight: 500;
  line-height: 1em;
  margin-top: 1.2em;
}
article .article-content h4,
article .article-content h5,
article .article-content h6 {
  margin-top: 1em;
  font-size: 140%;
}
article .article-content h1,
article .article-content h2,
article .article-content h3,
article .article-content h4,
article .article-content h5,
article .article-content h6 {
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article .article-content h1 >code,
article .article-content h2 >code,
article .article-content h3 >code,
article .article-content h4 >code,
article .article-content h5 >code,
article .article-content h6 >code {
  color: #a3a3a3;
}
article .article-content hr {
  border: 0.5px solid #dbdbdb;
}
article .article-content strong {
  font-weight: bold;
}
article .article-content em {
  font-style: italic;
}
article .article-content acronym,
article .article-content abbr {
  border-bottom: 1px dotted;
}
article .article-content blockquote {
  border-left: 0.2em solid #808080;
  margin: 0.5em 0;
  padding-left: 0.5em;
  line-height: 1.8;
  font-size: 100%;
  color: #808080;
}
article .article-content blockquote footer {
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 80%;
  line-height: 1em;
}
article .article-content blockquote cite {
  font-style: italic;
  padding-left: 0.5em;
}
article .article-content ul {
  padding-left: 1em;
  font-size: 100%;
  padding-top: 0.5em;
  list-style-type: disc;
}
article .article-content ul ul {
  list-style-type: circle;
}
article .article-content ul ul ul {
  list-style-type: square;
}
article .article-content ul li {
  text-align: match-parent;
}
article .article-content ul li::marker {
  color: #002fa7;
}
article .article-content ol {
  padding-left: 1.2em;
  font-size: 100%;
  padding-top: 0.5em;
  list-style-type: decimal;
}
article .article-content ol ol {
  list-style-type: lower-alpha;
}
article .article-content ol ol ol {
  list-style-type: lower-roman;
}
article .article-content ol li::marker {
  color: #002fa7;
}
article .article-content dl dt {
  font-weight: blod;
}
article .article-content ul li>code,
article .article-content ol li>code,
article .article-content p code,
article .article-content strong code,
article .article-content em code,
article .article-content table th>code,
article .article-content table td>code {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  background: #eee;
  color: #ff4040;
  border: 0.5px solid #d6d6d6;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 90%;
  white-space: nowrap;
  text-shadow: 0 1px #fff;
  border-radius: 0.25em;
}
article .article-content p {
  line-height: 1.8;
  margin-top: 0.75em;
}
@media only screen and (min-width: 1024px) {
  article .article-content p {
    margin-top: 1em;
  }
}
article .article-content img,
article .article-content video,
article .article-content figure img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding-top: 0.5em;
}
@media only screen and (min-width: 1024px) {
  article .article-content img,
  article .article-content video,
  article .article-content figure img {
    padding-top: 0.7em;
  }
}
article .article-content .img-topic,
article .article-content .img-logo {
  display: none;
}
article .article-content .img-center {
  display: block;
  margin: auto;
}
article .article-content .img-shadow {
  -webkit-box-shadow: 0 0 2px 3px #ddd;
  box-shadow: 0 0 2px 3px #ddd;
}
article .article-content figcaption,
article .article-content .caption {
  display: block;
  margin-top: 0.3em;
  color: #808080;
  position: relative;
  font-size: 0.9em;
  padding-left: 1.3em;
}
article .article-content figcaption:before,
article .article-content .caption:before {
  content: '\f040';
  position: absolute;
  font: 0.9em font-icon-family;
  position: absolute;
  left: 0;
  top: 0.3em;
}
article .article-content .video-container {
  position: relative;
  padding-top: 56%;
  height: 0;
  overflow: hidden;
}
article .article-content .video-container iframe,
article .article-content .video-container object,
article .article-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .article-content table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1em;
}
article .article-content table th {
  font-weight: bold;
  border-bottom: 2px solid #dbdbdb;
  padding: 0.5em;
  line-height: 1.3em;
}
article .article-content table td {
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5em;
  line-height: 1.3em;
}
article .article-content .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
  border: none;
}
article .article-content .left {
  margin-left: 0.5em;
  margin-right: 1em;
  float: left;
}
article .article-content .right {
  margin-right: 0.5em;
  margin-left: 1em;
  float: right;
}
footer.article-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  padding: 0 4%;
  border-top: 0.5px solid #dbdbdb;
}
#share {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#share span {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0.5em;
  color: #d6d6d6;
}
#share span:before {
  font-family: font-icon-family;
  content: "\f064";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#share a {
  width: 3em;
  height: 3em;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#share a:before {
  font-size: 1.2em;
  font-family: font-icon-family;
  color: #817c7c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#share a:hover:before {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  color: #000;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-weibo:before {
  content: "\f18a";
}
.article-share-weibo:hover {
  background: #c64d3e;
  text-shadow: 0 1px #a13c2f;
}
.article-share-qrcode:before {
  font-family: font-icon-family;
  content: "\f132";
}
.article-share-qrcode:hover {
  color: #000;
  text-shadow: 0 1px #3a8b0c;
}
.article-back-to-top:before {
  content: "\f062";
}
.article-back-to-top:hover {
  background: #762c54;
  text-shadow: 0 1px #5e2343;
}
.hoverqrcode {
  background: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
}
.overlay {
  display: none !important;
}
.comments-count {
  color: #d6d6d6;
  margin-top: 0.3em;
  padding: 0.5em 0;
  float: right;
}
.comments-count span:before {
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f075";
}
@media only screen and (max-width: 375px) {
  .comments-count {
    float: left;
  }
}
.comments-count-link {
  padding: 0.5em;
  margin: 0 0.3em;
}
.comments-count-link:hover {
  color: #fff !important;
  background: #002fa7;
}
.article-catetags {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.article-tags,
.article-categories {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5em 0.2em 0.5em 0;
}
.article-tags a {
  padding: 0 0.2em;
}
.article-tags a:before {
  content: "#";
  padding-right: 0.1em;
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
}
.article-tags a:hover {
  color: #fff;
  background: #002fa7;
}
.article-categories {
  color: #d6d6d6;
}
.article-categories span:before {
  font-family: font-icon-family;
  content: "\f07b";
  font-size: 1.2em;
}
.article-category-link {
  color: #002fa7;
}
.article-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 1.5em 4%;
}
.article-nav a {
  display: block;
  overflow: hidden;
  color: #002fa7;
}
.article-nav .prev {
  text-align: left;
}
.article-nav .prev span:before {
  content: "\f053";
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.5em;
}
.article-nav .next {
  margin-left: auto;
  text-align: right;
}
.article-nav .next span:after {
  content: "\f054";
  font-family: font-icon-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 0.5em;
}
section.comment {
  padding: 0 4%;
  margin: 1em 0;
}
.toc-article {
  background: #eee;
  margin: 0;
  padding: 1em;
  border-radius: 4px;
}
.toc-article strong {
  padding: 0.3em 0;
}
.toc-article ul li {
  list-style: disc;
  text-align: match-parent;
  margin: 0.5em 0;
}
.toc-article ol li {
  list-style-type: decimal;
  margin: 0.5em 0;
}
#toc {
  line-height: 1.3em;
  font-size: 0.8em;
}
#toc .toc {
  padding: 0;
}
#toc .toc li {
  list-style-type: none;
}
#toc .toc-child {
  padding-left: 1.5em;
  padding-top: 0;
}
#toc.toc-aside {
  display: none;
  width: 13%;
  position: fixed;
  right: 2%;
  top: 320px;
  overflow: hidden;
  line-height: 1.5em;
  font-size: 1em;
  color: #333;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
#toc.toc-aside strong {
  padding: 0.3em 0;
  color: #817c7c;
}
#toc.toc-aside:hover {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#toc.toc-aside a {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  -ms-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
#toc.toc-aside a:hover {
  color: #000;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.active {
  color: #000 !important;
}
#footnotes hr {
  margin: 0.5em 0;
  border: 0;
}
#footnotes #footnotelist {
  padding-top: 0.5em;
}
#footnotes #footnotelist:before {
  content: '[脚注]';
  color: #d6d6d6;
  font-size: 1.2em;
}
#footnotes #footnotelist ol {
  padding-top: 0.2em;
  margin-left: 0 !important;
}
#footnotes #footnotelist ol li {
  list-style-type: none;
}
#footnotes #footnotelist ol li span {
  display: inline !important;
  margin-left: 0 !important;
}
#asidepart {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  margin: 1em 0 auto 0;
  padding: 0.5em 2% 1em;
}
@media only screen and (min-width: 768px) {
  #asidepart {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  #asidepart {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 18%;
    margin: 2em 0 auto 3%;
  }
}
.asidetitle {
  font-size: 1.1em;
  color: #413f3f;
  padding: 0 0 0.3em 0;
  border-bottom: 0.5px solid #ccc;
}
.asidetitle a {
  color: #413f3f;
}
.asidetitle a:hover {
  color: #000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.categorieslist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .categorieslist {
    margin: 0 2% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .categorieslist {
    margin: 1em 0 0;
  }
}
.categorieslist li a {
  display: block;
  padding: 0.2em 0;
}
.categorieslist li a::before {
  content: "\f07b";
  font-family: font-icon-family;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.2em;
}
.categorieslist li a:hover {
  color: #000;
}
.tagslist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 1em 0 0;
}
@media only screen and (min-width: 768px) {
  .tagslist {
    margin: 0 2% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .tagslist {
    margin: 1em 0 0;
  }
}
.tagslist ul {
  padding: 0.5em 0;
}
.tagslist ul li {
  float: left;
}
.tagslist ul li a {
  display: block;
  padding: 0.125em 0.4em 0.125em 0;
}
.tagslist ul li a::before {
  content: "#";
  font-family: font-icon-family;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.2em;
}
.tagslist ul li a:hover {
  color: #000;
}
.tagcloudlist-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .tagcloudlist-wrapper {
    margin: 0 2% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .tagcloudlist-wrapper {
    margin: 1em 0 0;
  }
}
.tagcloudlist-wrapper .tagcloudlist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.tagcloudlist-wrapper .tagcloudlist a {
  padding: 0.2em;
  display: block;
}
.tagcloudlist-wrapper .tagcloudlist a::before {
  content: "#";
  font-family: font-icon-family;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.1em;
}
.tagcloudlist-wrapper .tagcloudlist a:hover {
  color: #000;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.archiveslist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-right: 0.5em;
}
@media only screen and (min-width: 768px) {
  .archiveslist {
    margin: 0 2% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .archiveslist {
    margin: 1em 0 0;
  }
}
.archiveslist .archive-list {
  padding: 0.5em 0;
}
.archiveslist li {
  font-size: 0.8em;
  line-height: 2em;
}
.archiveslist li a:hover {
  color: #000;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.archiveslist .archive-list-count {
  padding: 0.5em;
}
.archiveslist .archive-list-count:before {
  content: "(";
}
.archiveslist .archive-list-count:after {
  content: ")";
}
.linkslist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) {
  .linkslist {
    margin: 0 2% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .linkslist {
    margin: 1em 0 0;
  }
}
.linkslist ul {
  padding: 0.5em 0;
}
.linkslist ul a {
  font-size: 1em;
  line-height: 1.8;
  display: block;
  padding: 0.2em 0;
}
.linkslist ul a:hover {
  color: #000;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.rsspart {
  width: 100%;
  background: #000;
}
.rsspart:hover {
  background: #404040;
}
@media only screen and (min-width: 768px) {
  .rsspart {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .rsspart {
    width: 100%;
    margin: 1em 0 0;
  }
}
.rsspart a {
  color: #fff;
  display: block;
  padding: 0.625em 0;
  text-align: center;
}
.rsspart a::before {
  font-family: font-icon-family;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.2em;
  content: "\e883";
}
#page-footer {
  margin-top: auto;
}
#footer-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 1em;
  background: #000;
  padding: 0 2.5%;
}
#footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  #footer {
    max-width: 1200px;
  }
}
.author-area-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .author-area-container {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.author-area {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .author-area {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
  }
}
.author-area .line {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.author-area .line span {
  display: block;
  width: 0.5em;
  height: 4.25em;
  border-right: 0.125em solid #fff;
}
.author-area .author {
  width: 6.875em;
  height: 6.875em;
  background: no-repeat url("../img/author.png") left top;
  background-size: 6.875em 6.875em;
  border-radius: 3.4375em;
  -webkit-transition: -webkit-transform 2s ease-out;
  -moz-transition: -moz-transform 2s ease-out;
  -o-transition: -o-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
  transition: transform 2s ease-out;
}
.author-area .author:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.author-area .info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  line-height: 1.6;
  font-size: 100%;
  color: #fff;
}
.author-area .info p {
  padding: 1em;
}
@media only screen and (min-width: 375px) {
  .author-area .info p {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .author-area .info p {
    padding-top: 4em;
    text-align: left;
  }
}
.social-font {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .social-font {
    padding-top: 3em;
  }
}
.social-font a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 185%;
  padding: 0.5em;
}
.social-font a:hover:before {
  color: #002fa7;
}
.copyright {
  padding: 2em;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 0.6em;
  color: #fff;
  text-align: center;
}
.copyright a {
  color: #002fa7;
}
.copyright a:hover {
  color: #002fa7;
  text-decoration: underline;
}
.cc-license {
  width: 100%;
  float: left;
  text-align: center;
}
.cc-license .cc-opacity {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  border-bottom: none;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.cc-license img {
  display: inline-block;
}
.article-content pre,
.article-content .highlight,
.article-content .highlight pre {
  background: #f5f6f5;
  margin: 0.5em 0;
  padding: 0.5em 2%;
  color: #4d4d4c;
  line-height: 1.8;
  font-size: 0.8em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
  word-wrap: break-word;
}
@media only screen and (min-width: 375px) {
  .article-content pre,
  .article-content .highlight,
  .article-content .highlight pre {
    font-size: 0.9em;
  }
}
.article-content .highlight .gutter pre,
.article-content .gist .gist-file .gist-data .line-numbers {
  color: #bbb;
  font-size: 0.4em;
}
@media only screen and (min-width: 375px) {
  .article-content .highlight .gutter pre,
  .article-content .gist .gist-file .gist-data .line-numbers {
    font-size: 0.9em;
    line-height: 1.8;
  }
}
.article-content pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.article-content .highlight {
  overflow: auto;
  font-size: 0.4em;
}
@media only screen and (min-width: 375px) {
  .article-content .highlight {
    font-size: 0.9em;
  }
}
.article-content .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-content .highlight table {
  margin: 0;
  width: auto;
}
.article-content .highlight td {
  border: none;
  padding: 0;
}
.article-content .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  text-align: left;
  color: #8e908c;
  line-height: 1em;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}
.article-content .highlight figcaption:before,
.article-content .highlight figcaption:after {
  content: "";
  display: table;
}
.article-content .highlight figcaption:after {
  clear: both;
}
.article-content .highlight figcaption a {
  float: right;
}
.article-content .highlight .gutter pre {
  text-align: right;
  padding-right: 1.5em;
}
.article-content .highlight .line {
  height: 20px;
}
.article-content .gist {
  margin: 0.5em 0;
  background: #f5f6f5;
  padding: 1em 2%;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
}
.article-content .gist .gist-file {
  border: none;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  margin: 0;
}
.article-content .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-content .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 1.5em 0 0;
}
.article-content .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-content .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
  background: #f5f6f5;
}
.article-content .gist .gist-file .gist-meta {
  background: #f5f6f5;
  color: #8e908c;
  font: 0.85em "Georgia", serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.article-content .gist .gist-file .gist-meta a {
  color: #002fa7;
  font-weight: normal;
}
.article-content .gist .gist-file .gist-meta a:hover {
  color: #000;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #ff4040;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #ff9666;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #1eac3e;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #1eac3e;
}
pre .css .hexcolor {
  color: #059b84;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #007ef0;
}
pre .keyword,
pre .javascript .function {
  color: #8b43ab;
}
.gallery {
  overflow: hidden;
  position: relative;
}
.gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.gallery .prev,
.gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.gallery .prev:before,
.gallery .next:before {
  position: absolute;
  font: 24px/1 font-icon-family;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
.gallery .prev {
  left: 0;
}
.gallery .prev:before {
  content: '\f053';
  left: 10px;
}
.gallery .next {
  right: 0;
}
.gallery .next:before {
  content: '\f054';
  right: 10px;
}
#totop {
  position: fixed;
  bottom: 10em;
  right: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  #totop {
    display: none !important;
  }
}
